<div>
  <div>
    <img
      src="https://i.imgur.com/TjkmomP.jpg"
      alt="Foto de perfil de Denise Reis"
      width="250"
    />
    <h1>DENISE MIGNOLI</h1>
    <h4 class="h4Gray">Analista de Desenvolvimento de Sistemas Jr.</h4>
  </div>
  <div>
    <h4 class="h4Black">EXPERIÊNCIA PROFISSIONAL</h4>
    <div>
      <h4 class="h4Gray">Capgemini Brasil</h4>
      <p>Analista de Desenvolvimento de Sistemas Jr. (nov/2021 - atualmente)</p>
    </div>
    <div>
      <h4 class="h4Gray">Metro Cúbico Engenharia</h4>
      <p>Modelador 3D / Processador Point Clouds (jun/2019 - set/2021)</p>
      <ul>
        <li>Produção de plantas e modelos 3D industriais / comerciais;</li>
        <li>
          Elaboração de levantamento planialtimétrico cadastral e Modelo Digital
          do Terreno (MDT);
        </li>
        <li>Processamento e registro de Nuvem de Pontos;</li>
        <li>Elaboração de Bubbleview (Fotos 360°);</li>
        <li>
          Realização de levantamento de campo utilizando Laser Scanner
          Terrestre.
        </li>
      </ul>
    </div>
    <div>
      <h4 class="h4Gray">LPA - Leonetti Piemonte Arquitetura</h4>
      <p>Arquiteta júnior (out/2018 - abr/2019)</p>
      <ul>
        <li>Participação na elaboração de projetos corporativos / varejo;</li>
        <li>Compatibilização de projetos complementares;</li>
        <li>
          Produção de desenhos executivos e detalhamento de marcenarias, áreas
          molhadas e comunicação visual;
        </li>
        <li>Elaboração e revisão de memoriais descritivos;</li>
        <li>
          Contato com fornecedores e auxílio na especificação e cotação de
          materiais.
        </li>
      </ul>
    </div>
    <div>
      <h4 class="h4Gray">
        Secretaria do Meio Ambiente do Estado de São Paulo (SMA) - Coordenadoria
        de Parques Urbanos
      </h4>
      <p>Estagiária de Arquitetura e Urbanismo (set/2015 - set/2017)</p>
      <ul>
        <li>Realização de levantamentos de campo;</li>
        <li>Produção de relatórios fotográficos e desenhos em AutoCAD;</li>
        <li>
          Elaboração de planilhas para manutenção de áreas verdes e prediais dos
          parques estaduais;
        </li>
        <li>
          Fiscalização de atividades de empresas contratadas para execução de
          obras civis;
        </li>
        <li>
          Apoio em projetos de recuperação ambiental e adequação de
          acessibilidade em edificações.
        </li>
      </ul>
    </div>
  </div>
</div>
